/* ! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grifinito L";
}

html,
body {
  width: 100%;
  height: 100%;
  background: #a19a8f;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

section {
  width: 120vw;
  font-size: 6em;
  line-height: 1em;
  background: #a19a8f;
}

.wrap {
  display: flex;
  height: 100%;
}

.section {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -110px;
}

.blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: #a19a8f;
  z-index: 100;
  padding: 2rem 1.25rem;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
  pointer-events: auto;
  cursor: pointer;
  border-left: 0.2rem solid #000;
  font-weight: 500;
}

.block[data-block-section="2"].init {
  left: calc(100vw - 4rem);
}

.block[data-block-section="2"].fixed {
  left: 4rem;
  border-left: 0.2rem solid #000;
}

.block[data-block-section="3"].init {
  left: calc(100vw - 4rem);
}

.block[data-block-section="3"].fixed {
  left: 8rem;
}

/* .block[data-block-section="4"].init {
  left: calc(100vw - 8rem);
}

.block[data-block-section="4"].fixed {
  left: 12rem;
}

.block[data-block-section="5"].init {
  left: calc(100vw - 4rem);
}

.block[data-block-section="5"].fixed {
  left: 16rem;
} */

.block__title {
  position: relative;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-50%);
  text-align: right;
}

.block__number,
.block__title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.06rem;
  color: #000;
}
